@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
}

:root {
	/* Dark Mode */
	--bright-blue: hsl(220, 98%, 61%);
	--dark-blue: hsl(235, 21%, 11%);
	--dark-desat-blue: hsl(235, 24%, 19%);
	--grayish-blue: hsl(234, 39%, 85%);
	--light-grey-blue: hsl(236, 33%, 92%);
	--dark-grey-blue1: hsl(234, 11%, 52%);
	--dark-grey-blue2: hsl(233, 14%, 35%);
	--dark-grey-blue3: hsl(237, 14%, 26%);
/* Light Mode */
	--light-grey-lm: hsl(0, 0%, 98%);
	--light-grey-blue-lm1: hsl(236, 33%, 92%);
	--light-grey-blue-lm2: hsl(233, 11%, 84%);
	--dark-grey-blue-lm1: hsl(236, 9%, 61%);
	--dark-grey-blue-lm2: hsl(235, 19%, 35%);
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Josefin Sans', sans-serif;
	background-color: var(--dark-blue);
	font-size: 18px;
}

.container {
	max-width: 1440px;
	min-width: 400px;
	margin-top: 100px;
}

.top-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--grayish-blue);
	width: 100%;
}

.top-bar h1 {
	font-weight: 700;
	letter-spacing: 10px;
}

.top-bar button {
	border: none;
	background-color: transparent;
}

.form {
	display: flex;
	justify-content: space-between;
	background-color: var(--dark-desat-blue);
	height: 50px;
	border-radius: 4px;
	margin: 20px 0;
}

.form img {
	opacity: 0;
}

.false-checkbox {
	width: 20px;
	height: 20px;
	margin: auto 10px;
	border: solid 2px var(--dark-grey-blue3);
	border-radius: 50%;
}

.form input{
	color: var(--dark-grey-blue1);
	font-family: 'Josefin Sans', sans-serif;
	height: 50px;
	width: 80%;
	margin: auto 0;
	background-color: transparent;
	font-size: 14px;
}

.form button {
	color: var(--dark-grey-blue1);
	height: 20px;
	margin: auto 10px;
	background-color: transparent;
	font-family: 'Josefin Sans', sans-serif;
}

.list-container {
	min-height: 50px;
	display: flex;
	align-items: space-between;
	background-color: var(--dark-desat-blue);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.list-container ul {
	width: 100%;
}
.list-container li {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-start;
	padding: 15px 0;
	border-bottom: 1px solid var(--dark-grey-blue3);
	color: var(--light-grey-blue);
	font-size: 14px;
}
li p {
	margin: auto 0;
}
.checkbox {
	width: 20px;
	height: 20px;
	margin: auto 10px;
	background: transparent;
	border: solid 2px var(--dark-grey-blue3);
	border-radius: 50%;

	/* background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%)); */
}

.incomplete {
	background: transparent;
	border: solid 2px var(--dark-grey-blue3);
	border-radius: 50%;
}

.complete {
	border: none;
	background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.checkbox img {
	display: none;
	padding: 6px 5px;
	border-radius: 50%;
  user-select: none;
}


.bottom-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--dark-desat-blue);
	height: 40px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	color: var(--dark-grey-blue2);
	font-size: 14px;
	padding: 0 10px;
}

.items-left {
	display: flex;
	justify-content: center;
	gap: 0 4px;
}

.bottom-bar button {
	background-color: transparent;
	color: var(--dark-grey-blue2);
	font-family: 'Josefin Sans', sans-serif;
}
.bottom-bar button:hover {
	background-color: transparent;
	color: var(--light-grey-blue);
	font-family: 'Josefin Sans', sans-serif;
}

.intructions {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--dark-grey-blue2);
	font-family: 'Josefin Sans', sans-serif;
	font-size: 14px;
	margin-top: 20px;
}
